# Distribution / packaging
__pycache__/
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.py[cod]
sftp-config.json
.installed.cfg
*.egg
install.*
*.so
*.exe
.idea
demo.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.tar
*.gz
*.zip

# Translations
*.mo

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
MANIFEST